@tailwind base;
@tailwind components;
@tailwind utilities;

.corefeaturesection{
    background-size:  100% 100%;
    padding-top: 12rem;
    padding-bottom:12rem;
}
.ctaSection{
    background-size:  100% 100%;
}
.companyList{
    animation: 10s infinite linear moveImage;
}
@keyframes moveImage {
  0%{
    top :0;
  }   
  100%{
    top: -50%;
  }
}
